### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex.gz

## Intermediate documents:
*.dvi
*-converted-to.*

## Output:
*.pdf
!resume.pdf

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### OS ###
*.DS_Store
Thumbs.db
